
body{
    background-color: #e017bf;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.txt-center{
    text-align: center;
}
.bg-warning {background-color: #f1dd68d8 ; border-radius: 20px 0px 20px 0px; border-style: groove;}
.txt-black{color: rgb(0, 0, 0);}
.p-1{padding: 10px;}
.m-1{margin: 20px;}

a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}